.content {
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .intro {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .description {
            height: auto;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .title {
                height: auto;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;

                h1 {
                    color: #ffffff;
                    font-size: 5rem;
                    max-width: 45vw;
                }

                img {
                    height: auto;
                    width: 380px;
                    z-index: -1;
                    position: absolute;
                    left: 83px;
                }
            }

            .button-container {
                height: auto;
                width: 70%;
                margin-top: 60px;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

                button {
                    height: 70px;
                    width: 220px;
                    background-color: #1e95f2;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    color: #ffffff;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }

        .image {
            height: auto;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .background-image {
                height: auto;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;

                img {
                    width: 150%;
                    z-index: 1;
                    position: absolute;
                    top: -50vh;

                    &:nth-child(2) {
                        animation: subir-descer 3s infinite;
                    }

                    @keyframes subir-descer {
                        0% {
                            transform: translateY(0);
                        }

                        50% {
                            transform: translateY(-10px);
                        }

                        100% {
                            transform: translateY(0);
                        }
                    }

                    &:nth-child(1) {
                        animation: bright 2.7s infinite;


                        @keyframes bright {
                            0% {
                                filter: brightness(1);
                            }

                            50% {
                                filter: brightness(1.5);
                            }

                            100% {
                                filter: brightness(1);
                            }
                        }
                    }
                }
            }
        }

    }

    .texts {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;

        div {
            height: auto;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                color: #ffffff;
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                margin-top: 20px;

                span {
                    color: #1e95f2;
                }
            }
        }

        .subs {
            height: auto;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                color: #ffffff;
                font-size: 1.2rem;
                text-align: center;
                margin-top: 20px;
                font-weight: 500;
            }
        }
    }

    .info {

        text-align: center;
        margin: 5rem 0 2rem 0;

        h2 {
            font-size: 2rem;
            color: #ffffff;
            margin-bottom: 1.5rem;
        }

        >div {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        .info-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #0f1624;
            color: #ffffff;
            border-radius: 10px;
            padding: 1rem 2rem;
            width: 320px;
            max-width: 100%;
            text-align: left;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 6px 12px rgba(45, 141, 165, 0.3);
            }

            h3 {
                font-size: 1.2rem;
                color: #4ca6ff;
                margin-top: 1rem;
                text-align: center;
            }

            .info-card ul {
                list-style-type: disc; // Define os pontos padrão
                padding-left: 20px; // Adiciona um recuo na esquerda para alinhar os bullets
            }

            .info-card li {
                margin-bottom: 10px; // Adiciona espaçamento entre os itens da lista
                line-height: 1.5; // Melhora a legibilidade
            }
        }
    }

    .equipment {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        text-align: center;
        margin: 5rem 0 10rem 0;

        h2 {
            font-size: 2rem;
            color: #1e95f2;
            margin-bottom: 1.5rem;
        }

        >div {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        .equipment-container {
            display: flex;
            flex-flow: row wrap;
            color: #ffffff;
            border-radius: 10px;
            padding: 1rem 2rem;
            width: 100%;
            max-width: 100%;
            text-align: left;
            

            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50%;

                img {
                    height: auto;
                    width: 300px;
                    z-index: 1;
                    position: relative;
                }
            }

            .equip-text {
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                text-align: center;
                margin-top: 20px;
                border: 1px solid white;
                border-radius: 20px;

            }

            .racket,
            .table,
            .ball,
            .net {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;
                border-radius: 20px;
                width: 23%;

                &:hover {
                    transform: translateY(-5px);
                    transition: 0.5s ease-in-out;
                }

                &:hover :nth-child(1) {
                    scale: 1.05;
                    filter: drop-shadow(0px 1px 3px #79a6c9);
                    transition: 0.5s ease-in-out;
                }

                &:not(:hover) :nth-child(1) {
                    transition: 0.5s ease-in-out;
                }

                &:not(:hover) {
                    transition: 0.5s ease-in-out;
                }
            }

        }
    }

    .evolution {
        width: 100vw;
        height: calc(100vw / 2.5);
        text-align: center;
        position: relative;
        background-image: url('./src/assets/low-background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: #0f1624 0px 8px 24px;

        .evolution-text {
            height: auto;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
            h2 {
                font-size: 2rem;
                color: #1e95f2;
                margin-bottom: 1.5rem;
                text-shadow: 1px 1px 2px black;
            }
        
            p {
                color: #1e95f2;
                font-size: 1.2rem;
                text-align: center;
                margin-top: 20px;
                font-weight: 500;
                text-shadow: 1px 1px 2px black;
            }
        }
    }

}