footer{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    
  
      h1{
          color: #ffffff;
          font-size: 3.5rem;
      }

      .logo{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        top: 150px;

        .title{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            img {
                height: auto;
                width: 170px;
                z-index: -1;
                position: relative;
                top: 10px;
              }
        }

        .icons{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            img {
                height: auto;
                width: 50px;
                position: relative;
                top: 50px;

                &:hover {
                    scale: 1.1;
                    filter: drop-shadow(0px 1px 2px rgba(121, 166, 201, 0.5));
                    translate: 0px -8px;
                    transition: 0.5s ease-in-out;
                }
                &:not(:hover) {
                    transition: 0.3s ease-in-out;
                }
              }
        }
      }

      .contact{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 150px;

        h2{
            color: #1e95f2;
            font-size: 3.5rem;
        }

        ul{
            text-align: left;
            padding-left: 15px;
            margin-top: 1.5rem;
            color: #ffffff;
            font-size: 1.5rem;
            width: 80%;
            list-style: none;
        }
      }
}