header {
  z-index: 10;
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px;


  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: auto;
      width: 170px;
      z-index: -1;
      position: relative;
      top: 10px;
    }

    h1{
        color: #ffffff;
        font-size: 3.5rem;
    }
  }
}